{% extends 'layout/base.html' %}

{% block container %}
    <form action="{{ url_for('auth.register') }}" method="POST">
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.confirm.label }}
            {{ form.confirm(class="form-control") }}
        </div>
        
        <input type="submit" class="btn btn-primary" value="Crear Usuario">
    </form>
{% endblock %}

