<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='product/css/style.custom.css') }}">
    <title>Productos</title>
</head>
<body padding-top: 60px;>
    {% include 'fragment/_nav.html' %}

    <div class="container" >
            {% include 'fragment/_alert.html' %}
            {% block container %}
            {% endblock %}
    </div>

    {% include 'fragment/_footer.html' %}

    <script src="{{ url_for('static',filename='global/js/jquery-3.4.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static',filename='global/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='product/js/main.js') }}"></script>
</body>
</html>